.header {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
}
.burger {
  color: #333333;
  font-size: 24px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.kenzie {
  color: #eb5757;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
}
.form {
  display: flex;
  border: 2px solid #e0e0e0;
  background: #ffffff;
  border-radius: 8px;
  width: 330px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.input {
  border: none;
  align-self: center;
}
.search {
  margin: 0;
}
@media (min-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
