.Cart {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 20px 0px 0 0;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border-radius: 0px 0px 5px 5px;
    height: 240px;
    min-width: 365px;
}

.filled {
    background-color: #f5f5f5;
    margin: 0;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border-radius: 0px 0px 5px 5px;
    min-height: 280px;
    min-width: 365px;
}

.cart_item {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    width: 100%;
    max-height: 280px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 65px;
    color: #ffffff;
    background: #27ae60;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border-radius: 5px 5px 0px 0px;
}

.title p {
    margin-left: 20px;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 365px;
    min-height: 165px;
}

.empty p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #828282;
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    max-height: 300px;
}

.cart {
    width: 100%;
    margin: 10px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    width: 100%;
    margin: 20px 0 20px 0;
}

.cart_pay {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-top: 2px solid #e0e0e0;
    width: 100%;
}

.cart_pay p {
    color: #828282;
}

.cart_pay p,
.cart_pay span {
    margin: 0 1rem 0 1rem;
}

.remove_all {
    align-self: center;
    background-color: #e0e0e0;
    color: #828282;
    width: 80%;
    margin: 0 0 20px 0;
}

.remove_all:hover {
    background-color: #383737;
    color: rgb(199, 199, 199);
}

@media (min-width: 700px) {
    .Cart,
    .cart_item {
        min-width: 365px;
    }
    .Cart {
        margin: 3rem 4rem 0 0;
        min-height: 80%;
    }
    .cart_item {
        max-height: 400px;
        min-height: 400px;
    }
    .filled {
        max-height: 480px;
        min-height: 480px;
        max-width: 365px;
        margin: 3rem 4rem 0 0;
    }
    .itens {
        height: 100%;
    }
}