.cartProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 100%;
}

.cartProduct_figure,
.cartProduct_figure img {
  width: 70px;
  height: 70px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cartProduct_name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.cartProduct_category {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}
.cartBox {
  display: flex;
  transition: 1s;
}

.cartBox .description {
  margin-left: 10px;
}
.remove {
  background-color: transparent;
  color: #bdbdbd;
}
.remove:hover {
  text-decoration: underline;
}
