/* .itens_cointainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
} */

.App {
    overflow-x: hidden;
}

.itens_cointainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 700px) {
    .itens_cointainer {
        flex-direction: row;
        align-items: flex-start;
    }
}